<section class="login__container">
    <div class="login__image">
        <img src="/images/pagina_login_ideias.png" class="img_conceito login-img" alt="conceito equipe criativa">
    </div>
    <form
        method="POST"
        class="login__form"
    >
        <div class="form-group">
            <label for="formEmail" class="form-label">
                E-email:
            </label>
            <input type="email" class="form-input" name="email" id="formEmail" />
        </div>
        <div class="form-group">
            <label for="formSenha" class="form-label">
                Senha:
            </label>
            <input type="password" class="form-input" name="password" id="formPassword">
        </div>

        <div class="form-group">
            <a href="/recuperar-senha">
                <small>Esqueci a senha.</small>
            </a>
        </div>

        <button class="btn btn-login">
            Entrar
        </button>

        <a href="/cadastro">
            Criar conta.
        </a>
    </form>
</section>