<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <title>Ideias</title>
    <link rel="stylesheet" href="css/reset.css" />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/header.css" />
    <link rel="stylesheet" href="css/login.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body>
    <header class="header__container">
        <a href="/" class="header__brand">
            <img class="brand" src="/images/logo.png" alt="logo ideas com a cor amarelo e um lapis amarelo emcima da palavra">
        </a>
        <nav class="navbar__container">
            <div class="show__menu">
                <input type="checkbox" class="checkbox-menu">
            </div>
            <menu class="header__menu">
                <li class="menu__item">
                    <a class="item__link" href="/">Inicial</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="/login">login</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="/cadastro">Cadastrar</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="/novas-ideias">Criar ideias</a>
                </li>
                <li class="menu__item">
                    <a class="item__link" href="/minhas-ideias">Minhas ideias</a>
                </li>
            </menu>
        </nav>
    </header>
    <main class="main__container">
        {{{body}}}
    </main>
    <footer class="footer__container">
        <p>
            Desenvolvido por <span>João Kleby</span> &copy; 2024
        </p>
    </footer>
</body>

</html>